[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pycountry = "*"
python-jose = "*"
passlib = "*"
emails = "*"
python-multipart = "*"
celery = "*"
types-jwt = "*"
pytest = "*"
sqlmodel = "*"
plaid-python = "*"
types-requests = "*"
types-pytz = "*"
requests-cache = "*"
pytz = "*"
types-python-dateutil = "*"
bpython = "*"
vulture = "*"
alembic = "*"
psycopg2-binary = "*"
pydantic-settings = "*"
email-validator = "*"
pydantic = {extras = ["email"], version = "*"}
pydantic-extra-types = "*"

[dev-packages]
httpx = "*"
mypy = "*"
mypy-extensions = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.11"
