[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
mypy = "*"
mypy-extensions = "*"
uvicorn = "*"
pycountry = "*"
black = "*"
python-jose = "*"
passlib = "*"
emails = "*"
python-multipart = "*"
celery = "*"
types-jwt = "*"
pytest = "*"
httpx = "*"
sqlmodel = "*"
plaid-python = "*"
types-requests = "*"
types-pytz = "*"
requests-cache = "*"
pydantic = {extras = ["email"], version = "*"}
pytz = "*"
types-python-dateutil = "*"
bpython = "*"
vulture = "*"

[dev-packages]

[requires]
python_version = "3.11"
