[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
black = "*"
jose = "*"
fastapi = "*"
python-jose = "*"
alembic = "*"
amqp = "*"
appdirs = "*"
atomicwrites = "*"
attrs = "*"
autoflake = "*"
bcrypt = "*"
billiard = "*"
cachetools = "*"
celery = "*"
certifi = "*"
cffi = "*"
chardet = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
coverage = "*"
cryptography = "*"
cssselect = "*"
cssutils = "*"
dnspython = "*"
ecdsa = "*"
email-validator = "*"
emails = "*"
flake8 = "*"
greenlet = "*"
gunicorn = "*"
h11 = "*"
httptools = "*"
idna = "*"
importlib-metadata = "*"
importlib-resources = "*"
isort = "*"
jinja2 = "*"
kombu = "*"
lxml = "*"
mako = "*"
markupsafe = "*"
mccabe = "*"
more-itertools = "*"
mypy = "*"
mypy-extensions = "*"
packaging = "*"
passlib = "*"
pathspec = "*"
pluggy = "*"
premailer = "*"
psycopg2-binary = "*"
py = "*"
pyasn1 = "*"
pycodestyle = "*"
pycparser = "*"
pydantic = "*"
pyflakes = "*"
pytest = "*"
pytest-cov = "*"
python-dateutil = "*"
python-multipart = "*"
pytz = "*"
raven = "*"
regex = "*"
requests = "*"
rsa = "*"
six = "*"
sqlalchemy-stubs = "*"
starlette = "*"
tenacity = "*"
toml = "*"
tomli = "*"
typed-ast = "*"
typing-extensions = "*"
urllib3 = "*"
uvicorn = "*"
uvloop = "*"
vine = "*"
wcwidth = "*"
websockets = "*"
zipp = "*"

[dev-packages]

[requires]
python_version = "3.11"
